body {
    background-image: url(images/rempah.jpeg);
    background-size: 120rem 82rem;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr;
}

.dynamic-display {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.buttons-container {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

.buttons {
    margin: 2rem 2rem;
    border: none;
    font-family: 'Nanum Gothic', cursive;
    font-size: 1.2rem;
    color: rgb(199, 129, 0);
    background-color: transparent;
}

.buttons:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.buttons:focus {
    outline: none;
}

.headline {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    font-size: 10rem;
    color: rgb(230, 162, 36);
    font-family: 'La Belle Aurore', cursive;
}

.main-words {
    margin: -7rem 0rem;
    grid-column: 2/3;
    font-size: 1.3rem;
    color: rgb(158, 122, 80);
    font-family: 'Nanum Gothic', cursive;
}

.menu-container {
    grid-column: 2/3;
    font-size: 3rem;
    color: white;
    width: 105rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.menus {
    font-family: 'Nanum Gothic', cursive;
    font-size: 1.5rem;
    margin: 4rem 0rem;
}

.menu-descs {
    font-family: 'Nanum Gothic', cursive;
    
}