body {
    background-image: url(images/rempah.jpeg);
    background-size: 120rem 82rem;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.buttons-container {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}

.buttons {
    margin: 2rem 2rem;
    border: none;
    font-family: 'Nanum Gothic', cursive;
    font-size: 1.2rem;
    color: rgb(230, 162, 36);
    background-color: transparent;
}

.buttons:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.headline {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 10rem;
    color: rgb(230, 162, 36);
    font-family: 'La Belle Aurore', cursive;
}

.main-words {
    margin: -7rem 0rem;
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 1.3rem;
    color: rgb(158, 122, 80);
    font-family: 'Nanum Gothic', cursive;
}

